
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<form method="post" action="">
    {% csrf_token %}
    <label for="field1">word 1:</label>
    <input type="text" id="field1" name="field1" required>

    <label for="field2">word 2:</label>
    <input type="text" id="field2" name="field2" required>

    <label for="field3">word 3:</label>
    <input type="text" id="field3" name="field3" required>

    <label for="field4">word :</label>
    <input type="text" id="field4" name="field4" required>

    <
    

    <button type="submit">Submit</button>
</form>

</body>
</html>
